@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

:root {
  --space-smallest: 1px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --space-xxlg: 80px;

  --white: #FFFFFF;
  --gray: #A9A9A9;
  --black: #181719;

  --text-color: var(--white);
  --role-text-color: #828282;
  --footer-text-color: var(--gray);
  --background: var(--black);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  max-height: var(--space-md);
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 20px 12px 0;
  padding: 0 12px;
}

header button {
  height: var(--space-md);
  width: auto;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid var(--white);

  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}

header span.material-icons#hamburger {
  display: block;
  color: var(--text-color);
  font-size: var(--space-md);
}

header ul {
  display: none;
  width: 100%;
}

header ul#nav-ul.show {
  height: 91vh;
  background-color: var(--background);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul#nav-ul.show li {
  height: auto;
  margin: 16px 0;
}

header ul#nav-ul.show li a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
  text-decoration: none;
}

header ul#nav-ul.show li a.active {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: var(--space-xs);
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

main div.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 12px;
}

main div.content h1 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  color: var(--text-color);
}

main div.content p {
  width: 60%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color);
}

main div.content div.link-group {
  height: auto;
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

main div.content div.link-group a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color);
  text-decoration: none;
}

main div.content div.link-group span {
  color: var(--text-color);
}

main div.bottom-content {
  margin: 26px 12px 180px;
  position: relative;
}

main div.bottom-content img {
  width: 100%;
}

main div.bottom-content div.card {
  position: absolute;
  top: 215px;
  right: 12px;
  height: 138px;
  width: 85%;
  padding: var(--space-xs) 70px 25px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main div.bottom-content div.card img {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  margin-right: var(--space-sm);
}

main div.bottom-content div.card div.profile-info {
  height: 36px;
  width: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

main div.bottom-content div.card div.profile-info span.name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  
  color: var(--text-color);
}

main div.bottom-content div.card div.profile-info span.role {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  
  color: var(--role-text-color);
}

main div.bottom-content div.card > span {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  
  color: var(--text-color);
  margin-top: var(--space-xs);
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: var(--space);
}

footer span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

footer span a {
  font-family: "Montserrat";
  font-style: normal;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

@media (min-width: 376px) {
  header {
    margin: 42px;
    padding: 0 76px;
  }

  header button {
    cursor: pointer;
  }

  header button:focus {
    outline: none;
  }

  header > span.material-icons#hamburger {
    display: none;
  }

  header ul {
    max-width: 45%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header ul li {
    display: flex;
  }

  header ul li a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: var(--text-color);
    text-decoration: none;
  }

  header ul li a.active {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: var(--space-xs);
  }

  main {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 76px;
  }
  
  main div.content, main div.bottom-content {
    margin: 0;
  }

  main div.content h1 {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 20px;
  }

  main div.content p {
    width: 60%;
    font-size: 24px;
    line-height: 29px;
    margin: 20px 0 var(--space);
  }

  main div.content div.link-group {
    width: 140px;
    margin-bottom: var(--space);
  }

  main div.content div.link-group a {
    font-size: 18px;
    line-height: 22px;
  }

  main div.bottom-content img {
    width: 737px;
  }
  
  main div.bottom-content div.card {
    top: 475px;
    right: 40px;
    height: 189px;
    width: 55%;
  }

  main div.bottom-content div.card img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 20px;
  }

  main div.bottom-content div.card div.profile-info span.name {
    font-size: 14px;
    line-height: 17px;
  }
  
  main div.bottom-content div.card div.profile-info span.role {
    font-size: 12px;
    line-height: 15px;
  }
  
  main div.bottom-content div.card > span {
    font-size: 24px;
    line-height: 31px;
    width: 75%;
    margin: 0;
  }
}